<!-- <p id="notice"><%= notice %></p>

<h1>Houses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Guest</th>
      <th>Bedroom</th>
      <th>Bathroom</th>
      <th>Pool</th>
      <th>Parking</th>
      <th>Terrace</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @houses.each do |house| %>
      <tr>
        <td><%= house.name %></td>
        <td><%= house.description %></td>
        <td><%= house.price %></td>
        <td><%= house.guest %></td>
        <td><%= house.bedroom %></td>
        <td><%= house.bathroom %></td>
        <td><%= house.pool %></td>
        <td><%= house.parking %></td>
        <td><%= house.terrace %></td>
        <td><%= link_to 'Show', house %></td>
        <td><%= link_to 'Edit', edit_house_path(house) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
 -->

<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag('logo.jpg') %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="" class="navbar-wagon-item navbar-wagon-link">Host</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link">Trips</a>
    <a href="" class="navbar-wagon-item navbar-wagon-link"><%= link_to 'New House', new_house_path %></a>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
       <!--  <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown"> -->
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Host</a></li>
        <li><a href="#">Trips</a></li>
        <li><a href="#">Messagese</a></li>
      </ul>
    </div>
  </div>
</div>
<section class="backdate">
  <div class="container details">
    <div>
      <h1>Find the best deal for your journey</h1>
      <p>From flat to villa in a second</p>
    </div>
    <div class='backdates'>
      <form action="/action_page.php">
        <label for="fname">Check-in</label>
        <input type="date" data-date-inline-picker="true"/>
        <label for="lname">Check-out</label>
        <input type="date" data-date-inline-picker="true"/>
        <label for="country">Guests</label>
        <input type="number" name="quantity" min="1" max="10">
       <!--  <select id="country" name="country">
          <option value="australia">Australia</option>
          <option value="canada">Canada</option>
          <option value="usa">USA</option>
        </select> -->
        <input type="submit" value="Search" style="background-color:#008790">
      </form>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <% @houses.each do |house| %>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="wholeCard">
        <td><%= link_to house do %></td>
        <div class="topCard">
          <h2 class="card-category"><%= house.name %></h2>
          <p class="card-user"><%= house.price %>€ Per night</p>
        </div>
        <% end %>
        <div class="lowCard container">
<!--           <i class="fa fa-bed"></i>-->
          <%= house.description %>
        </div>
      </div>
    </div>
    <% end %>
<!--   <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="wholeCard">
        <div class="topCard">
        </div>
        <div class="lowCard">
        </div>
      </div>
    </div> -->
  </div>
</div>
